<h1 align='center'>Log in</h1>


<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
    <div class="form-group-offset-4 col-md-10">
       
          <div class="control-label col-sm-2">
            <%= f.label :email %>
            </div>
            <div class="col-sm-10">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: "true" %>
          </div>
          <div class="control-label col-sm-2">
            <%= f.label :password %>
            </div>
            <div class="control-label col-sm-10">
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
          
          <div class="col-sm-offset-2 col-sm-10 submits">
            <%= f.submit "Login", class: "btn btn-primary btn-lg"%>
          </div>
              
  </div>
  
  <% end %>
  
 