<h1>Edit existing article</h1>


<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        
    </ul>
<% end %>

<div class="row">
<div class="col-xs-12">    

    <%= form_for @article do |f| %>
    <p>
        
        <div class="form-group">
        <div class="col-sm-2 control-label">
        <%= f.label :title %>
        </div>
        <div class="col-sm-10">
        <%= f.text_field :title, class="form-control", placeholder="Title of article", autofocus: true %>
        </div>
        
    </p>
    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
       
        
    </p>
    <p>
        
        <%= f.submit %>
        
    </p>


<% end %>
<br>
</div>
</div>

<p>
<%= link_to "Back to articles listing", articles_path %></p>