<h1>Listing all Articles</h1>

<p>
    <%= link_to "create a new article", articles_new_path %>
</p>

<table>
    
    <tr>
        <th>    ID </th>
        <th>    Title </th>
        <th>    Description </th>
    </tr>
    
    <% @articles.each do |article| %>
    
        <tr>
            <td>    <%= article.id %>   - </td>
            <td>    [<%= article.title %>]    </td>
            <td>    [<%= article.description %>]  </td>
            <td>    <%= link_to "Edit |", root_path %> </td>
            <td>    <%= link_to "| Show", article_path(article) %></td>
        </tr>
    
    <% end %>
    
</table>

<br>
<div class="col-md-12">
<%= link_to "Homepage", root_path, class: "btn btn-primary btn-md" %>
</div>


   
        
        
        
    
    