
<div class="col-md-offset-1 col-md-10 center">

<h1>Listing all Articles</h1>

<p>
    <%= link_to "create a new article", articles_new_path %>
</p>
</div>

<div class="container center">
<table class="col-md-offset-2 col-md-8 center">
    
    <tr>
        <th>    ID </th>
        <th>    Title </th>
        <th>    Description </th>
    </tr>
    
    <% @articles.each do |article| %>
    
        <tr>
            <td>    <%= article.id %>   - </td>
            <td>    [<%= article.title %>]    </td>
            <td>    [<%= article.description %>]  </td>
            <td>    <%= link_to "Edit |", root_path %> </td>
            <td>    <%= link_to "| Show", article_path(article) %></td>
            <td>    <%= link_to "| Delete", article_path(article), method: :delete, data: { confirm: 'Are you sure?' }  %> </td>
        </tr>
    
    <% end %>
    
</table>

</div>




   
        
        
        
    
    