
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        
    <% end %>
      
      </ul>
    </div>
  <% end %>
<div class="form-group-offset-2 col-md-10">
    <div class="form-label col-sm-2 nav_">
      <%= f.label :username %>
      </div>
      <div class="col-sm-10 nav_">
      <%= f.text_field :username, class: "form-control", placeholder: "enter username", autofocus: true %>
    </div>
    <div class="form-label col-sm-2 nav_">
      <%= f.label :email %>
      </div>
      <div class="col-sm-10 nav_">
      <%= f.email_field :email, class: "form-control", placeholder: "enter email", autofocus: true %>
    </div>
    <div class="form-label col-sm-2 nav_">
      <%= f.label :password %>
      </div>
      <div class="col-sm-10 nav_">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
    <div class="col-sm-offset-2 col-sm-12 submits">
      <%= f.submit "New user", class: "btn btn-primary btn-md" %>
    </div>
    </div>
    
<% end %>  

    